@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    color: white;
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    background-color: #21222c;
    user-select: none;
    height: 100vh;
    width: 100vw;
}

#upperBar {
    display: flex;
    background-color: rgba(22, 23, 29, 0.6);
    height: 12.5vh;
    width: 100vw;
    position: relative;
    z-index: 1000;
}

button {
    outline: none;
    background: transparent;
    border: none;
}

button:hover {
    background-color: rgba(22, 23, 29, 0.9);
}

.select {
    box-shadow: none;
    width: 14.5vw;
    text-align: center;
    font-size: 16px;
}

#return {
    height: 12.5vh;
    width: 12.5vh;
}

#home:hover {
    transform: scale(1.1);
    transition: all 0.55s;
}

#return:hover {
    background-color: transparent !important;
}

#buttonList {
    width: 14.5vw;
    flex-direction: column;
    display: none;
    position: absolute;
    top: 12.5vh; /* ... */
}

.select:nth-child(1):hover ~ #buttonList {
    display: flex;
}

#buttonList:not([style="display: none;"]):hover {
    display: flex;
}

.creations {
    width: 14.5vw;
    height: 10vh;
    background-color: rgba(22, 23, 29, 0.65);
    border: none;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

#text {
    position: absolute;
    left: 17.5vw;
    top: 25vh;
    z-index: 1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
    position: absolute;
    top: 12.5vh;
    height: 87.5vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}